.bx-newslist-more .btn-primary {
font-size: 14px;
}
.bx-newslist-title, .bx-newslist-title a {
color: var(--primary);
}

.links_footer {
    display: flex;
    margin-left: 0px!important;
    margin-top: 15px!important;
    font-size: 1rem!important;
}
.advantages__subtitle {
    text-align: center;
}
html {
    font-size: 16px!important;
}

.apteka-text, .instr-text {
    height: 100% !important;
}