.modal-dialog {
    margin: 5% auto !important;
}

.form-group.PRIVACY_POLYCY {
    display: flex;
    align-items: start;
}

.form-group.PRIVACY_POLYCY label:not(.star){
    margin-left: 10px;
    font-size: 12px;
}
.PRIVACY_POLYCY label.star {
    display: none;
}

.form-group.PRIVACY_POLYCY label:not(.star):before {
    content: "*";
    padding-right: 2px;
    font-size: 15px;
}

.container.inf {
    display: flex;
    padding: 0;
}

.inf__menu {
    margin-right: 10px;
}

.inf__content {
    max-width: 950px;
}
