.products-wrapper {
	width: 100%;
}

.tov_act_block {
	float: left;
	width: 260px;
	padding: 10px;
	margin: 0 0 14px 14px;
	border: 1px solid #ccc;
	height: 380px;
}

.tov_act_block:nth-child(4n+1) {
	margin: 0 0 14px;
}

.block__img__tov {
	width: 260px;
	height: 180px;
	text-align: center;
	margin-bottom: 10px;
}

.block__img__tov img{
	max-width: 260px;
	max-height: 180px;
}

.cont_tit a{
	display: block;
	text-decoration: none;
	color: #333;
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
}


.cont_tit a:hover {
	color: #71bc06;
}

.desc__tov {
	color: #ccc;
}

.quantity-yes {
	color: #71bc06;
}

.quantity-no {
	color: red;
}

.product-buy {
	display: block;
	float: left;
	width: 100px;
	color: #333;
	font-size: 22px;
	text-decoration: none;
	margin: 15px 0;
}

.a__descrp {
	float: right!important;
	display: block;
	float: left;
	width: 140px;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
	background: #71bc06;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	margin: 10px 0;
	text-align: center;
}

.a__descrp:hover {background: #333;}