.section-list {
	float: right;
	width: 895px;
}

.section-list .item {
	width: 178px;
    float: left;
    text-align: center;
}

.section-list .item a.photo{
	width: 178px;
	height: 140px;
	text-align: center;
	padding: 0 0 10px;
	display: table-cell;
	vertical-align: middle;
}

.section-list .item a.name {
	display: block;
    width: 100%;
    height: 45px;
    color: #212121;
    position: relative;
    text-decoration: none;
}

.section-list .item a.name span{
	width: 170px;
	padding: 0 4px;
	height: 45px;
	vertical-align: middle;
    text-align: center;
    display: table-cell;
    line-height: 1.1;
}

.section-list .item a.photo img {
	max-width: 170px;
	max-height: 140px;
}

.section-list .item:hover .name, .section-list .item.active .name{
	background: #EDECEC;
	color: #fc0702;
}

.section-list .item:hover .name:after, .section-list .item.active .name:after { 
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	left: 79px;;
	top: -20px;
	border: 10px solid;
	border-color: transparent transparent #EDECEC transparent;
}