div.modern-page-navigation { 
	   float: left;
    width: 100%;
    padding: 10px 0px 10px 0;
    text-align: center;
    clear: both;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 10px 0 20px;
}
div.modern-page-navigation a, 
span.modern-page-current, 
span.modern-page-dots
{
	padding-left: 0.75em;
	padding-right: 0.5em;
	color: #888;
	text-decoration: none;
}
div.modern-page-navigation a.modern-page-previous { 
	border-left: none; }
div.modern-page-navigation a.modern-page-first, 
div.modern-page-navigation span.modern-page-first { 
	border-left: none; 
	padding-left: 0.5em; }
span.modern-page-current { 
	color: #FFCD00;
}
div.modern-page-navigation a, 
span.modern-page-current, 
div.modern-page-navigation a.modern-page-previous, 
span.modern-page-dots { 
	border-color: #cdcdcd;
	text-decoration: none;
	 }

	
div.modern-page-navigation a:hover {
	color: #FFCD00;
}

div.modern-page-navigation a {
	text-decoration: underline;
	color: #000;
}

div.modern-page-navigation a.modern-page-next, div.modern-page-navigation a.modern-page-all {
	text-decoration: none;
}

