.section-item {
  background: #e9ecef;
  border-radius: 0.125rem;
  padding: .625rem .75rem; }
  .section-item__image {
    border-radius: 2px;
    height: 4.125rem;
    -o-object-fit: contain;
       object-fit: contain;
    width: 4.125rem; }
  .section-item__title {
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0; }
