@import '../../../../src/styles/system';



.section-item {
	background: #e9ecef;
	border-radius: $border-radius;
	padding: .625rem .75rem;

	&__image {
		border-radius: 2px;
		// mix-blend-mode: darken;
		height: 4.125rem;
		object-fit: contain;
		width: 4.125rem;
	}

	&__title {
		font-size: $font-size-sm;
		font-weight: $font-weight-normal;
		margin: 0;
	}
}