.products-wrapper {
	width: 100%;
display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tov_act_block {
	float: left;
	width: 260px;
	padding: 10px;
	margin: 7px;
	border: 1px solid #ccc;
	height: 250px;
text-align:center;
}



.block__img__tov {
	width: 260px;
	height: 115px;
	text-align: center;
	margin-bottom: 10px;
	overflow: hidden;
}

.block__img__tov img{
	max-width: 260px;
	max-height: 115px;
}

.cont_tit a{
	display: block;
	text-decoration: none;
	color: #333;
	font-size: 18px;
	text-align: center;
	height: 79px;
	margin-bottom: 10px;
}
.block__img__tov a {
    display: block!important;
    height: 130px;
    text-align: center;
    position: relative;
}

.cont_tit a:hover {
	color: #b32121;
}

.desc__tov {
	color: #3a3131;
}

.quantity-yes {
	color: #71bc06;
}

.quantity-no {
	color: red;
}

.a__descrp{
margin-left: 30px;
}
.a__descrp:hover {    outline: none;
    text-decoration: none;}

.pokaz-title{
	margin:30px 0 20px 0;
	text-align: center;
	padding:0;
	color:#0083C8;
	font-size:18px;
	font-weight:600;
	text-transform:uppercase;
}
