@media only screen and (max-width:1200px){}
@media only screen and (max-width:992px){
.newflexheader{
flex-direction:column;
}
.firsthalf, .secondhalf{
width:100%;
	}
.block-bn-index-right{display:none !important;visibility:hidden;}
body{min-width:320px;}
.top{height:30px;width:100%;background:#333333;}
.topmenu{float:none;}
.header .contacts{float:left;padding:0px 0 0 25px;width:270px;font-size:18px;margin:18px 15px 18px 0px;}
.header .time{float:left;padding:0px 0 18px 35px;width:160px;font-size:18px;background:url(images/ic-3.png) left 20% no-repeat;margin:18px 15px 0 0;}
.phone{margin:18px 0 18px 0px;float:left;width:200px;color:#000000;font-size:24px;text-align:left;line-height:1;}
.topmenu li a{display:block;height:30px;line-height:30px;color:#fff;font-size:15px;text-decoration:none;}
.header-logo{float:none;display:block;margin-top:5px;margin-left:auto;margin-right:auto;width:100%; text-align:center;}
 .secondhalf .time, .secondhalf .phone{
width:auto;
	}
.firsthalf .contacts{
width:40%;
margin:18px auto;
	}
.firsthalf {
	flex-direction: column;
}

.header-logo img{max-width:100%; }
.center{clear:both;width:auto;margin:0 auto;}
.header{height:auto;width:100%;background:#fff;}
.topmenu2 ul{}
.search{width:auto;}
.search-text{width:100%;padding:0 20px;height:32px;font-weight:700;font-family:'PT Sans Narrow', sans-serif;float:left;font-size:16px;background:#fff;border:none;box-shadow:0 0 3px #aba8a8;margin-left:11px;}
.search-submit{width:68px;height:32px;}
.index-block-1{float:none;width:100%;padding:30px 0;height:auto;}
.index-block-1-item{margin:5px 40px;float:left;}
.index-block-1-item:first-child{margin-left:40px;margin-right:40px;}
.articles-index{float:none;width:300px;margin-bottom:70px;}
.footer{width:100%;height:380px;clear:both;background:#333;color:#fff;}
.footer-left{float:left;width:240px;color:#fff;margin:45px 0 0;padding-top:5px;}
.footer-right{float:right;width:300px;margin:45px 0 0;color:#fff;}
.footer-left-contscts{font-size:16px;float:none;margin:20px 0;}
.footer-right-menu{float:none;width:280px;margin-bottom:0px;padding-bottom:15px;}
.block-bn-index-right{width:740px;height:220px;float:none;}
.slides-top img{max-width:100%;height:auto;display:block;}
.block-bn-index{clear:both;width:100%;padding:0px 0;height:auto;}
.block-bn-index-right .owl-controlls .owl-page, .owl-controlls .owl-buttons{margin-top:0px !important;}
.block-bn-index-right .owl-theme .owl-controlls{width:100% !important;position:absolute;top:50%;margin-top:-34px;}
.topmenu2 li a{color:#3e3e3e;text-transform:uppercase;display:block;text-decoration:none;font-size:20px;height:45px;line-height:45px;}
.clickssss{display:none;width:40px;height:40px;background:url(images/menusss.png) no-repeat center center;border-radius:5px;position:absolute;right:5px;top:3px;border:none;cursor:pointer;}
.act_menu{display:block !important;}
.tov_act_block:nth-child(4n+1){margin:10px 40px;}
.tov_act_block{float:left;width:260px;padding:10px;margin:10px 40px;border:1px solid #ccc;height:380px;}
.mg-product-slides{position:relative;float:left;width:300px;margin-right:20px;text-align:center;}
.product-status{float:left;width:300px;margin-top:0px;}
}
@media only screen and (max-width:768px){
.content-index .product-status a.tovar-buy{
	display:block;
	float:none;
	margin:auto;
}

.content-index .product-price{
float:none;
		}
.content-index .product-status{
text-align: center;
width:100%;
		}
.content-index .mg-product-slides{
width:100%;
margin-bottom:20px;
text-align:center;
		}

.block-bn-index-right{display:block !important;visibility:visible;}
body{min-width:320px;}
.top{height:30px;width:100%;background:#333333;}
.topmenu{float:none;}
.header .contacts{float:left;padding:0px 0 0 25px;width:50%;font-size:18px;margin:18px auto;}
.header .time{float:left;padding:0px 0 18px 35px;width:160px;font-size:18px;background:url(images/ic-3.png) left 20% no-repeat;margin:18px 15px 0 0;}
.phone{margin:18px 0 18px 0px;float:left;width:200px;color:#000000;font-size:24px;text-align:left;line-height:1;}
.topmenu li a{display:block;height:30px;line-height:30px;color:#fff;font-size:15px;text-decoration:none;}
.header-logo{float:none;display:block;margin-top:5px;margin-left:auto;margin-right:auto;width:100%;}
.header-logo img{max-width:100%;}
.center{clear:both;width:auto;margin:0 auto;}
.header{height:auto;width:100%;background:#fff;}
.topmenu2 ul{margin:0;padding:0;width:100%;display:none;position:absolute;left:0;top:45px;z-index:55;background:#71bc06;}
.search{width:auto;}
.search-text{width:100%;padding:0 20px;height:32px;font-weight:700;font-family:'PT Sans Narrow', sans-serif;float:left;font-size:16px;background:#fff;border:none;box-shadow:0 0 3px #aba8a8;margin-left:11px;}
.search-submit{width:68px;height:32px;}
.index-block-1{float:none;width:100%;padding:30px 0;height:auto;}
.index-block-1-item{margin:5px 40px;float:left;}
.index-block-1-item:first-child{margin-left:40px;margin-right:40px;}
.articles-index{float:none;width:100%;margin-bottom:70px;}
.footer{width:100%;height:380px;clear:both;background:#333;color:#fff;}
.footer-left{float:left;max-width:50%;color:#fff;margin:45px 0 0;padding-top:5px;}
.footer-right{float:right;max-width:50%;margin:45px 0 0;color:#fff;}
.footer-left-contscts{font-size:16px;float:none;margin:20px 0;}
.footer-right-menu{float:none;width:280px;margin-bottom:0px;padding-bottom:15px;}
.block-bn-index-right{width:100%;height:220px;float:none;}
.slides-top img{max-width:100%;height:auto;display:block;}
.block-bn-index{clear:both;width:100%;padding:0px 0;height:auto;}
.block-bn-index-right .owl-controlls .owl-page, .owl-controlls .owl-buttons{margin-top:0px !important;}
.block-bn-index-right .owl-theme .owl-controlls{width:100% !important;position:absolute;top:50%;margin-top:-34px;}
.topmenu2{position:relative;}
.topmenu2 li{display:block;text-align:center;padding:0 25px;}
.topmenu2 li a{color:#3e3e3e;text-transform:uppercase;display:block;text-decoration:none;font-size:20px;height:38px;line-height:38px;}
.clickssss{display:block;width:40px;height:40px;background:url(images/menusss.png) no-repeat center center;border-radius:5px;position:absolute;right:5px;top:3px;border:none;cursor:pointer;}
.act_menu{display:block !important;}
.tov_act_block:nth-child(4n+1){margin:10px 40px;}
.tov_act_block{float:left;width:260px;padding:10px;margin:15px;border:1px solid #ccc;}
.mg-product-slides{position:relative;float:left;width:300px;margin-right:20px;text-align:center;}
.product-status{float:left;width:300px;margin-top:0px;}
}
@media only screen and (max-width:480px){body{min-width:320px;}
.secondhalf{
			flex-direction:column;}
.top{height:30px;width:100%;background:#333333;}
.topmenu{float:none;}
.header .contacts{float:none;padding:0px 0 0 25px;width:270px;font-size:18px;margin:18px 0 0 0px;}
.header .time{float:none;padding:0px 0 0px 35px;width:160px;font-size:18px;background:url(images/ic-3.png) left center no-repeat;margin:18px 0 0 0;}
.phone{margin:18px 0px;float:none;width:200px;color:#000000;font-size:24px;text-align:left;line-height:1;}
.topmenu li a{display:block;height:30px;line-height:30px;color:#fff;font-size:15px;text-decoration:none;}
.header-logo{float:none;display:block;margin-top:5px;width:290px;}
.header-logo img{max-width:100%;}
.center{clear:both;width:auto;margin:0 auto;}
.header{height:auto;width:100%;background:#fff;}
.topmenu2 ul{margin:0;padding:0;width:300px;display:none;position:absolute;left:0;top:45px;z-index:55;background:#71bc06;}
.search{width:auto;}
.search-text{width:100%;padding:0 20px;height:32px;font-weight:700;font-family:'PT Sans Narrow', sans-serif;float:left;font-size:16px;background:#fff;border:none;box-shadow:0 0 3px #aba8a8;margin-left:11px;}
.search-submit{width:68px;height:32px;}
.index-block-1{float:none;width:100%;padding:30px 0;height:auto;}
.index-block-1-item{margin:5px auto;float:none;}
.index-block-1-item:first-child{margin-left:auto;margin-right:auto;}
.articles-index{float:none;width:100%;margin-bottom:70px;}
.footer{width:100%;height:auto;clear:both;background:#333;color:#fff;}
.footer-left{float:none;width:240px;color:#fff;margin:45px 0 0;padding-top:5px;}
.footer-right{float:none;width:300px;margin:45px 0 0;color:#fff;}
.footer-left-contscts{font-size:16px;float:none;margin:20px 0;}
.footer-right-menu{float:none;width:280px;margin-bottom:0px;padding-bottom:15px;}
.block-bn-index-right{width:100%;height:auto;float:none;}
.slides-top img{max-width:100%;height:auto;display:block;}
.block-bn-index{clear:both;width:100%;padding:0px 0;height:auto;}
.block-bn-index-right .owl-controlls .owl-page, .owl-controlls .owl-buttons{margin-top:0px !important;}
.block-bn-index-right .owl-theme .owl-controlls{width:100% !important;position:absolute;top:50%;margin-top:-34px;}
.topmenu2{position:relative;}
.topmenu2 li{display:block;text-align:center;padding:0 25px;}
.topmenu2 li a{color:#3e3e3e;text-transform:uppercase;display:block;text-decoration:none;font-size:20px;height:38px;line-height:38px;}
.clickssss{display:block;width:40px;height:40px;background:url(images/menusss.png) no-repeat center center;border-radius:5px;position:absolute;right:5px;top:3px;border:none;cursor:pointer;}
.act_menu{display:block !important;}
.tov_act_block:nth-child(4n+1){margin:10px auto;}
.tov_act_block{float:none;width:260px;padding:10px;margin:10px auto;border:1px solid #ccc;}
.mg-product-slides{position:relative;float:none;width:300px;margin-right:0px;text-align:center;}
.product-status{float:none;width:300px;margin-top:15px;}
}
@media only screen and (max-width:320px){body{min-width:320px;}
a.articles-index-block-photo img {
    width: 260px;
}

.articles-index-block-photo {
    width: 260px;
		}
.articles-index-block-item{
	width:260px;
}
.top{height:30px;width:100%;background:#333333;}
.topmenu{float:none;}
.header .contacts{float:none;padding:0px 0 0 25px;width:auto;font-size:18px;margin:18px 0 0 0px;}
.header .time{float:none;padding:0px 0 0px 35px;width:160px;font-size:18px;background:url(images/ic-3.png) left center no-repeat;margin:18px 0 0 0;}
.phone{margin:18px 0px;float:none;width:200px;color:#000000;font-size:24px;text-align:left;line-height:1;}
.topmenu li a{display:block;height:30px;line-height:30px;color:#fff;font-size:15px;text-decoration:none;}
.header-logo{float:none;display:block;margin-top:5px;width:auto;}
.header-logo img{max-width:100%;}
.center{clear:both;width:auto;margin:0 auto;}
.header{height:auto;width:100%;background:#fff;}
.topmenu2 ul{margin:0;padding:0;width:300px;display:none;position:absolute;left:0;top:45px;z-index:55;background:#71bc06;}
.search{width:auto;}
.search-text{width:100%;padding:0 20px;height:32px;font-weight:700;font-family:'PT Sans Narrow', sans-serif;float:left;font-size:16px;background:#fff;border:none;box-shadow:0 0 3px #aba8a8;margin-left:11px;}
.search-submit{width:68px;height:32px;}
.index-block-1{float:none;width:100%;padding:30px 0;height:auto;}
.index-block-1-item{margin:5px auto;float:none;}
.index-block-1-item:first-child{margin-left:auto;margin-right:auto;}
.articles-index{float:none;width:100%;margin-bottom:70px;}
.footer{width:100%;height:auto;clear:both;background:#333;color:#fff;}
.footer-left{float:none;width:240px;color:#fff;margin:45px 0 0;padding-top:5px;}
.footer-right{float:none;width:300px;margin:45px 0 0;color:#fff;}
.footer-left-contscts{font-size:16px;float:none;margin:20px 0;}
.footer-right-menu{float:none;width:280px;margin-bottom:0px;padding-bottom:15px;}
.block-bn-index-right{width:100%;height:147px;float:none;}
.slides-top img{max-width:100%;height:auto;display:block;}
.block-bn-index{clear:both;width:100%;padding:0px 0;height:auto;}
.block-bn-index-right .owl-controlls .owl-page, .owl-controlls .owl-buttons{margin-top:0px !important;}
.block-bn-index-right .owl-theme .owl-controlls{width:100% !important;position:absolute;top:50%;margin-top:-34px;}
.topmenu2{position:relative;}
.topmenu2 li{display:block;text-align:center;padding:0 25px;}
.topmenu2 li a{color:#3e3e3e;text-transform:uppercase;display:block;text-decoration:none;font-size:20px;height:38px;line-height:38px;}
.clickssss{display:block;width:40px;height:40px;background:url(images/menusss.png) no-repeat center center;border-radius:5px;position:absolute;right:5px;top:3px;border:none;cursor:pointer;}
.act_menu{display:block !important;}
.tov_act_block:nth-child(4n+1){margin:10px auto;}
.tov_act_block{float:none;width:260px;padding:10px;margin:10px auto;border:1px solid #ccc;height:380px;}
.mg-product-slides{position:relative;float:none;width:300px;margin-right:0px;text-align:center;}
.product-status{float:none;width:300px;margin-top:15px;}
}