.navNotificBlock.window{
    padding: 1px;
}

.navNotificBlock.window .nav-block-notific{
    display: none;
}

.navNotificBlock.window .nav-block-notific{
    margin-bottom: 1px;
    padding:10px;
}

.navNotificBlock.window .nav-block-notific.active{
    display: block;
}

.navNotificBlock.window .nav-block-notific.active a{
    font-size: 18px;
}

.nav-block-notific-button{
    user-select: none;
    border: 1px solid transparent;
    font-weight: 500;
    border-width: 2px;
    font-style: normal;
    letter-spacing: 1px;
    margin: .2rem .4rem;
    white-space: normal;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: -webkit-inline-flex;
    padding: 10px;
    border-radius: 3px;
}
