#navNotificBlock{
    position: fixed;
    z-index: 1000;
}

#navNotificBlock.top{
    top: 0;
    width: 100%;
}

#navNotificBlock.bottom{
    bottom: 0;
    width: 100%;
    z-index: 1100;
}

#navNotificBlock.left{
    left: 0;
    bottom: 0;
    width: 40%;
}

#navNotificBlock.right{
    right: 5px !important;
    bottom: 5px;
    /*width: 40%;*/
    width: 350px ;
}

@media (max-width: 460px){
    #navNotificBlock.right {
        width: 100%;
    }
    #navNotificBlock.left {
        width: 100%;
    }
}


#navNotificBlock .nav-block-notific{
    display: none;
}

#navNotificBlock .nav-block-notific{
    margin-bottom: 1px;
    padding:10px;
}

#navNotificBlock .nav-block-notific.active{
    /*display: block;*/
    display: flex;
    border-radius: 2px;
    justify-content: flex-end;
    align-items: center;
    width: 350px;
    opacity: 0.9 !important;
}

#navNotificBlock .nav-block-notific.active span{
    width: 250px;
    /*text-align: center;*/
    font-size: 12px;
}

#navNotificBlock .nav-block-notific.active a{
    font-size: 18px;
}

#navNotificBlock .nav-block-notific.active button{
    padding: 5px;
    font-size: 16px;
    width: 65px;
}

.nav-block-notific-button{
    user-select: none;
    border: 1px solid transparent;
    font-weight: 500;
    border-width: 2px;
    font-style: normal;
    letter-spacing: 1px;
    margin: .2rem .4rem;
    white-space: normal;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: -webkit-inline-flex;
    padding: 10px;
    border-radius: 3px;
}

@media screen and (max-width: 1700px){
    #navNotificBlock .nav-block-notific.active {
        margin-bottom: 75px;
    }
}

@media screen and (max-width: 460px) {
    #navNotificBlock.right{
        width: 350px;
    }
    #navNotificBlock .nav-block-notific.active span{
        text-align: right;
    }
}
@media screen and (max-width: 360px) {
    #navNotificBlock.right{
        width: 290px;
    }
    #navNotificBlock .nav-block-notific.active{
        width: 290px;
    }
    #navNotificBlock .nav-block-notific.active span{
        width: 200px;
        font-size: 8px;
        text-align: right;

    }
    #navNotificBlock .nav-block-notific.active button{
        padding: 5px;
        font-size: 12px;
    }
}

@media screen and (max-width: 990px) {
    #navNotificBlock .nav-block-notific.active {
        margin-bottom: 60px;
    }
}
@media screen and (max-width: 610px) {
    #navNotificBlock .nav-block-notific.active {
        margin-bottom: 45px;
    }
}
@media screen and (max-width: 470px) {
    #navNotificBlock .nav-block-notific.active {
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 370px) {
    #navNotificBlock .nav-block-notific.active {
        margin-bottom: 30px;
    }
}

#navNotificBlock a {
    font-size: 12px !important;
    color: #fff;
    text-decoration: underline;
}
