.inf-menu__list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    max-width: 220px;
}

.inf-menu__item {
    display: flex;
    align-items: center;
    height: 50px;
    background: #71bc06;
    border-top: 1px solid aliceblue;
    padding: 0 0 0 10px;
}

.inf-menu__link {
    text-transform: uppercase;
    color: #fff;
}

.inf-menu__link:hover {
    color: #fff;
}