.mg-product-slides {
    position: relative;
    float: left;
    width: 400px;
    margin-right: 30px;
    text-align: center;
}

.mg-product-slides img{
	max-width: 100%;
}

.product-status {
    float: right;
    width: 740px;
}

.product-code {
	font-size: 22px;
}

.product-code span{
	color: #71bc06;
}

.product-status-list {
	margin: 0;
	padding: 0;
}

.product-status-list li{
	list-style: none;
	font-size: 22px;
}

.product-status-list li b{
	font-weight: normal;
	color: #71bc06;
}

.count.esct {
	color: #71bc06;
} 

.count.no {color: red;}

.product-price {
	float: left;
	margin: 30px 0;
	font-size: 30px;
}

.price {
	font-size: 30px;
}

.tovar-buy {
	clear: both;
	float: left;
	width: 200px;
	height: 45px;
	line-height: 45px;
	background: #71bc06;
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.tovar-buy:hover {
	background: #333;
}

.product-details-wrapper {
    clear: both;
    width: 100%;
    padding: 30px 0;
}