.orders-item{
	margin-bottom: 20px;
	border: 1px solid #ebebeb;
	overflow: hidden;
}
.orders-item:before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	width: 1px;
	background: #ebebeb;
}
.orders-item__title{
	padding: 0 40px;
	font-weight: bold;
	line-height: 45px;
	background: #ebebeb;
}
.orders-item__info{
	float: left;
	width: 560px;
	padding: 20px 0 20px 40px;
}

.orders-item__info a {
	color: #1d282a;	
	text-decoration: none;
}

.orders-item__controls{
	float: right;
	width: 420px;
	padding: 20px 40px 20px 0;
}
.orders-item__button,
.orders-item__status{
	float: left;
	margin: 0 5px 10px;
	padding: 0 20px;
	width: 160px;
	line-height: 45px;
}
.orders-item__button{
	color: #fff;
	text-decoration: none;
	background: #9e9e9e;
}
.orders-item__button:hover{
	background: #e80000;
}
.orders-item__status{
	text-align: center;
	background: #ebebeb;
}