.bx-breadcrumb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.bx-breadcrumb-item {
	height: 22px;
	white-space: nowrap;
}

.bx-breadcrumb-item-angle {
	margin: 0 10px;
	color: #b5bdc2;
	vertical-align: top;
	font-size: 12px;
}

.bx-breadcrumb-item-link {
	border-bottom: none;
	vertical-align: top;
	line-height: 21px;
}

.bx-breadcrumb-item-link:hover { }

.bx-breadcrumb-item-text {
	vertical-align: top;
	white-space: normal;
	font: 400 13px/21px "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	transition: 250ms linear all;
}

/* доработка для мобильных устройств */
.mobile {
	display: none;
}

.fa-angle-left.mobile {
	visibility: hidden;
}

@media screen and (max-width: 900px){
	.pc {
		display: none !important;
	}
}

@media screen and (max-width: 900px){
	.mobile {
		display: inline-block;
	}
	.fa-angle-left.mobile {
		visibility: unset;
	}
	.breadcrumb.container > .bx-breadcrumb {
		padding-left: 0;
	}
}

@media screen and (max-width: 1080px) {
	.bx-breadcrumb {
		display: flex !important;
	}
}

.breadcrumb.container {
	margin-bottom: 5px !important;
}
