/* Left menu*/
ul.left-menu
{
	list-style:none;
	margin:0; padding:0;
	margin-bottom:8px;
	position: relative; /*IE bug*/
}

ul.left-menu li
{
	padding: 10px 16px;
	background:#F5F5F5 url(images/left_menu_bg.gif) top repeat-x;
}

ul.left-menu li a
{
	font-size:100%;
	color:#BC262C;
	font-weight:bold;
	text-decoration:none;
}

ul.left-menu li a:visited
{
	color:#BC262C;
}

ul.left-menu li a:hover
{
	color:#BC262C;
}


ul.left-menu li a.selected:link,
ul.left-menu li a.selected:visited,
ul.left-menu li a.selected:active,
ul.left-menu li a.selected:hover
{
	color:#FC8D3D;
}

/*Выпадающее меню*/
.main_menu__list {
	display: flex;
	justify-content: center;
	/*width: auto !important;*/
}

.main_menu__item {
	position: relative;
}

.main_menu__link{
	display: block;
	color: #fff;
}

.sub_menu__list {
	position: absolute;
	display: none;
	padding: 0;
	background: #71bc06;
	z-index: 10;
	text-align: left !important;
}
.sub_menu__item {
	margin: 7px 10px !important;
}

.main_menu__item:hover .sub_menu__list {
	display: flex;
	flex-direction: column;
}

.arrow::before {
	content: "";
	background-image: url("images/arrow_down.svg");
	width: 16px;
	height: 16px;
	position: absolute;
	top:3px

}
@media screen and (max-width: 815px) {
	.main_menu__list {
		display: unset;
		width: 100% !important;
	}
	.arrow::before {
		display: none;
	}
	.sub_menu__list {
		display: contents !important;
		text-transform: none !important;
	}

	.inf__menu {
		display: none;
	}

	.inf__content {
		width: 100%;
	}

	.container.inf {
		padding: 0 15px 0 15px;
	}

	.sub_menu__item {
		text-align: end;
	}

	.sub_menu__item::after {
		content: "•";
		width: 16px;
		height: 16px;
		color: white;
	}

	.main_menu__list.active {
		display: flex;
		flex-direction: column;
	}
}



