.bx-breadcrumb i {
	color: #000;
	font-size: 14px;
	vertical-align: middle;
	margin: 0 4px;
	font-style: normal;
}
.bx-breadcrumb .bx-breadcrumb-item {
	float: left;
	margin-bottom: 10px;
	white-space: nowrap;
	line-height: 5px;
	vertical-align: middle;
	line-height: 40px;
	font-size: 14px;
}
.bx-breadcrumb .bx-breadcrumb-item span {
	color: #28b86c;
}

.bx-breadcrumb .bx-breadcrumb-item a {text-decoration: none;}
.bx-breadcrumb .bx-breadcrumb-item a span{border-bottom: none; color: #000; }

.bx-breadcrumb i::before{
display:none;
}

.bx-breadcrumb i {
vertical-align: initial !important;
font-weight: bold;
}

.mobile {
	display: none;
}
@media screen and (max-width: 900px){
	.pc {
		display: none;
	}
}

@media screen and (max-width: 900px){
	.mobile {
		display: inline-block;
	}
}

@media screen and (max-width: 1080px) {
	.bx-breadcrumb {
		display: flex !important;
	}
}
