label {
	display: inline-block;
	margin-bottom: .5rem;
}
.inputtext, .inputtextarea {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.modal-body {
	text-align: center;
	color: #71bc06;
	font-size: 24px;
}
.modal-body form{
	font-size: 16px;
	color:#000;
	text-align: left;
}
